
*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
}
.head-wrapper{
	width: 100%;
	height: 40px;
}
.head-logo{
	width: 30%;
	height: 40px;
	color: blue;
	font-size: 30px;	
	float: left;
}

.head-menu{
	width: 70%;
	height: 40px;
	float: left;
}